.valorantMapImage
{
  width: 200px;
  height: 200px;
}

.mapName
{
  position: absolute;
  top: 40%;
  left: 4%;
  font-size: larger;
}

.valorantMapRow {
  position: relative;
  color: white;
  background-color: rgb(20, 56, 56);
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.agentImage {
  width: 150px;
  height: 150px;
  margin-left: 20px;
}

#mapsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}